# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Git
.git/
.gitignore

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Tests & misc
.pytest_cache/
.mypy_cache/
