version: "3.9"

services:
    api:
        build: .
        container_name: financegy-api
        ports:
            - "8080:8000"
        environment:
            - PYTHONUNBUFFERED=1
        restart: unless-stopped
